.overlay{
    background-image: url('../../assets/images/backgroup-secsion/bg.gif') !important;
}

.flat-slider .heading {
    font-size: 56px !important;
    line-height: 68px !important;
    font-weight: 700 !important;
    color: #fff !important;
}

.content .heading .s1 {
    color: #14141f;
    background: linear-gradient(-45deg, #E250E5, #4B50E6, #E250E5, #4B50E6);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px transparent;
}

.style_icon{
    font-size: 20px;
    /* padding-right: 0px !important; */
}